@{
    ViewData["Title"] = "Global Games | Welcome";
}

<section id="showcase">
    <div class="container">
        <h1>A melhor plataforma de realidade virtual</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, deleniti commodi sapiente, eligendi nesciunt accusamus, architecto alias consequatur sunt ipsam porro fugit voluptates suscipit vero sint culpa non numquam hic?</p>
    </div>
</section>
<section id="newsletter">
    <div class="container">
        <h1>Subscreve a nossa newsletter</h1>
        <form>
            <input type="email" placeholder="Coloque email..." />
            <button type="submit" class="button_1">Subscrever</button>
        </form>
    </div>
</section>

<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="images/logo_html.png" alt="">
            <h3>Jogos Unity</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corrupti nam in?</p>
        </div>
        <div class="box">
            <img src="images/logo_css.png" alt="">
            <h3>Jogos Unity</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corrupti nam in?</p>
        </div>
        <div class="box">
            <img src="images/logo_brush.png" alt="">
            <h3>Jogos Unity</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corrupti nam in?</p>
        </div>
    </div>
</section>