
@{
    ViewData["Title"] = "Global Games | Serviços";
}

<section id="showcase">
    <div class="container">
        <h1>A melhor plataforma de realidade virtual</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, deleniti commodi sapiente, eligendi nesciunt accusamus, architecto alias consequatur sunt ipsam porro fugit voluptates suscipit vero sint culpa non numquam hic?</p>
    </div>
</section>
<section id="newsletter">
    <div class="container">
        <h1>Subscreve a nossa newsletter</h1>
        <form>
            <input type="email" placeholder="Coloque email..." />
            <button type="submit" class="button_1">Subscrever</button>
        </form>
    </div>
</section>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Serviços</h1>
            <ul id="servicos">
                <li>
                    <h3>Jogos Unity</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
                <li>
                    <h3>Personagens em 3D</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
                <li>
                    <h3>Ginjinha de Óbidos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
            </ul>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3>Peça um orçamento</h3>
                <form action="" class="orcamento">
                    <div>
                        <label>Nome</label>
                        <input type="text" placeholder="Nome">
                    </div><br>
                    <div>
                        <label>Email</label>
                        <input type="email" placeholder="Nome">
                    </div>
                    <div>
                        <label>Mensagem</label>
                        <textarea placeholder="Mensagem"></textarea>
                    </div>
                    <button class="button_1" type="submit">Enviar</button>
                </form>
            </div>
        </aside>
    </div>
</section>
