<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Global_Games_Exercise_Cet49</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
  
</head>
<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1>
            </div>
            <nav>
                <ul>
                    <li class="selecionado"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Services">Serviços</a></li>
                    <li><a asp-area="" asp-controller="Contactos" asp-action="Index">Contactos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Global Games, Todos os direitos reservados &copy; CET 49 2020</p>
        </footer>
    </div>

    <environment include="Development">
    
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
   

    @RenderSection("Scripts", required: false)
</body>
</html>
