@model Global_Games_Exercise_Cet49.Data.Entities.Contacto
@{
    ViewData["Title"] = "Global Games | Serviços";
}

@*
    <section id="newsletter">
        <div class="container">
            <h1>Subscreve a nossa newsletter</h1>
            <form>
                <input type="email" placeholder="Coloque email..." />
                <button type="submit" class="button_1">Subscrever</button>
            </form>
        </div>
    </section>
*@

<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Serviços</h1>
            <ul id="servicos">
                <li>
                    <h3>Jogos Unity</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
                <li>
                    <h3>Personagens em 3D</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
                <li>
                    <h3>Ginjinha de Óbidos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
            </ul>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3>Peça um orçamento</h3>
                <form class="orcamento" asp-controller="Contactos" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="text-danger">
                        <label asp-for="Name">Nome</label><br>
                        <input type="text" placeholder="Nome" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="Mail">Email</label><br>
                        <input type="Email" placeholder="Endereço de email" asp-for="Mail" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="Mensage">Mensagem</label><br>
                        <textarea placeholder="Mensagem" asp-for="Mensage"></textarea>
                        <span asp-validation-for="Mensage" class="text-danger"></span>
                    </div>

                    <button class="button_1" type="submit">Enviar</button>
                </form>
            </div>
        </aside>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        document.querySelector('#Services').className = 'selecionado';
    </script>
}
